h1{
    text-align: center;
    border: black solid;
}

.barre_sup{
    justify-content: center;
    display: flex;
}

.cachee{
    background-color: gray ;
    opacity: 0.90;
}

.todo{
    display: flex;
    border: red solid;
    justify-content: center;
}

